<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="com.manning.readinglist" level="DEBUG" />
    <springProfile name="staging">
        <logger name="com.manning.readinglist" level="TRACE" />
    </springProfile>
</configuration>